<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM25-Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
</head>

<body>
    <a href="/">Home</a>
    <h1>PM25圖形繪製</h1>
    <div id="main" style="width: 700px;height:400px;"></div>

    <script>

        $.ajax(
            {
                url: "/six-pm25-data",
                type: "GET",
                dataType: "json",
                success: (data) => {
                    console.log(data);
                    drawChart(chart1, data["site"], data["pm25"], title = "六都 pm2.5數據")
                }
            }
        );

        // document.querySelector("h1").innerText = "123";
        // $("h1").text("ABC");
        $("h1").css("text-align", "center");

        var chart1 = echarts.init(document.getElementById('main'));

        function drawChart(chart, xdata, ydata, title = "圖表", name = "數值") {

            var option = {
                title: {
                    text: title
                },
                tooltip: {},
                legend: {
                    data: [name]
                },
                xAxis: {
                    data: xdata
                },
                yAxis: {},
                series: [
                    {
                        name: name,
                        type: 'bar',
                        data: ydata
                    }
                ]
            };

            chart.setOption(option);
        }



    </script>
</body>

</html>